.content {
  margin-left: 200px;
  height: 100%;
  width: calc(100vw - 170px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eae0;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: 100%;
    height: calc(100vh - 50px);
  }
}
